{{#each copy.copy}}
<div class = "headline">{{player}}</div>
<div class = "year-drafted">{{year-drafted}}</div>
<div class = "headline">{{position}}</div>
<div class = "headline">{{drafted-by}}</div>
<div class = "headline">{{key-career-stats}}</div>
<div class = "headline">{{other-players-considered}}</div>
{{/each}}
